.task {
  border: solid 2px black;
  background: #DDD;
  padding: 2em;
  width: 80%;
  margin: auto;
}
.hidden {
  visibility: hidden
}

.row-title {
  font-weight: bold;
  font-size: 1.4em;
}

.row-description {
  font-size: 1.2em;
}
